{{--
<!DOCTYPE html>
<html lang="en">

<head>
    @include('includes.head')
    <link rel="stylesheet" href="{{ asset('/css/homepage.css')}}">
</head> --}} @extends('layouts.app') @section('content')
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8 bg-light" style="height: 80vh">
            <h1 style="text-align: center">Welcome to BOOM TV</h1>
            <h2 style="text-align: center">Create a New Client Platform</h2>
            <div class="card-header"> <img src="{{asset('img/synccity.png')}}" alt="synccity">
            </div>

            <div class="card-body">
                <form enctype="multipart/form-data" action="/clients" method="POST">
                    @csrf
                    <div class="form-group row">
                        <label for="email" class="col-md-4 col-form-label text-md-right">Client Business Name:</label>

                        <div class="col-md-6">
                            <input class="form-control" required type="text" name="name" placeholder="Enter name here" required> @error('name')
                            <div class="alert alert-danger">{{ $message }}</div>
                            @enderror
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="logo" class="col-md-4 col-form-label text-md-right">Client Logo:</label>

                        <div class="col-md-6">
                            <input type="file" class="form-control-file" id="logo" name="logo" required> @error('logo')
                            <div class="alert alert-danger">{{ $message }}</div>
                            @enderror
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="icon" class="col-md-4 col-form-label text-md-right">Client Icon:</label>

                        <div class="col-md-6">
                            <input type="file" class="form-control-file" name="icon" required> @error('icon')
                            <div class="alert alert-danger">{{ $message }}</div>
                            @enderror
                        </div>
                    </div>
                    <div class="form-group row d-flex justify-content-between">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="navbar-type" id="navbar-type1" value="1">
                            <label class="form-check-label" for="navbar-type1">Centered</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="navbar-type" id="navbar-type2" value="2" checked>
                            <label class="form-check-label" for="navbar-type2">Default</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="navbar-type" id="navbar-type3" value="3">
                            <label class="form-check-label" for="navbar-type3">Spaced Links</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="navbar-type" id="navbar-type5" value="4">
                            <label class="form-check-label" for="navbar-type4">Simple</label>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>
</div>
@endsection {{--
<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col-6">
            <h1>Welcome to BOOM TV</h1>
            <h2>Create a New Client Platform</h2>
            <form enctype="multipart/form-data" action="/clients" method="POST">
                @csrf
                <div class="row">
                    <div class="col-5">
                        <label for="name">Enter Client Business Name:</label>
                        <div class="form-group">
                            <label for="logo">Client Logo</label>
                            <input type="file" class="form-control-file" id="logo" name="logo" required>
                        </div>
                        @error('logo')
                        <div class="alert alert-danger">{{ $message }}</div>
                        @enderror
                    </div>
                    <div class="col-7">
                        <input class="form-control" required type="text" name="name" placeholder="Enter name here" required> @error('name')
                        <div class="alert alert-danger">{{ $message }}</div>
                        @enderror
                        <div class="form-group">
                            <label for="icon">Client Icon</label>
                            <input type="file" class="form-control-file" name="icon" required>
                        </div>
                        @error('icon')
                        <div class="alert alert-danger">{{ $message }}</div>
                        @enderror
                    </div>

                </div>
                <label for="icon">Navbar Style</label>
                <div class="row d-flex justify-content-between">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="navbar-type" id="navbar-type1" value="1">
                        <label class="form-check-label" for="navbar-type1">Centered</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="navbar-type" id="navbar-type2" value="2" checked>
                        <label class="form-check-label" for="navbar-type2">Default</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="navbar-type" id="navbar-type3" value="3">
                        <label class="form-check-label" for="navbar-type3">Spaced Links</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="navbar-type" id="navbar-type5" value="4">
                        <label class="form-check-label" for="navbar-type4">Simple</label>
                    </div>
                </div>
                <button type="submit" class="btn btn-lg btn-secondary">Create</button>

            </form>
        </div>
        <div class="col"></div>
    </div>
</div> --}}