.swiper-container {
    margin-top: 20px;
    /* width: 100%; */
    max-height: 200px;
}

.header-container {
    display: inline-block;
    padding-right: 100px;
    position: relative;
}

.header-blur {
    width: 100%;
    height: 100%;
    display: inline-block;
    background: rgba(0, 0, 0, 0.5);
    filter: blur(7px);
    position: absolute;
    padding-left: 20px;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    left: -2%;
}

.carousel-header {
    color: white;
    filter: blur(0px);
    padding: 15px;
    text-shadow: -1px -1px 1px rgba(255, 255, 255, .1), 1px 1px 1px rgba(0, 0, 0, .5);
}

.swiper-slide {
    background: none;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    width: 320px !important;
    height: 100%;
}

.main-slide:before {
    position: absolute;
    left: 50%;
    margin-left: -50px;
    top: 50%;
    margin-top: -50px;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 80px;
    color: rgba(255, 255, 255, 0.7);
    content: "\f144";
}

.swiper-slide-title {
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.3);
    visibility: inherit;
}

.swiper-slide-title,
.description-title {
    color: white;
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    text-shadow: -1px -1px 1px rgba(255, 255, 255, .1), 1px 1px 1px rgba(0, 0, 0, .5);
}

.description-main {
    padding: 5px;
}

.swiper-slide-description {
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    color: white;
    visibility: hidden;
}

.swiper-slide:hover .swiper-slide-description {
    visibility: inherit;
}

.swiper-slide:hover .swiper-slide-title {
    visibility: hidden;
}

.swiper-slide img {
    width: 100% !important;
    height: 200px;
    object-fit: cover;
    filter: brightness(70%);
    z-index: -1;
}

.carousel {
    margin-top: 50px;
    margin-bottom: 100px;
}

@media only screen and (max-width: 1024px) and (max-height: 1366px) and (orientation: portrait) {
    .swiper-slide-active .swiper-slide-description {
        visibility: inherit;
    }
    .swiper-slide-active .swiper-slide-title {
        visibility: hidden;
    }
    .swiper-slide:hover .swiper-slide-description {
        visibility: hidden;
    }
    .swiper-slide:hover .swiper-slide-title {
        visibility: inherit;
    }
}

@media only screen and (max-width: 500px) and (max-height: 850px) and (orientation: portrait) {
    body {
        overflow-x: hidden;
    }
    .carousel-header {
        font-size: 1.5rem;
    }
    .swiper-slide,
    .swiper-slide img {
        width: 270px !important;
    }
    .description-title,
    .swiper-slide-title {
        font-size: 1.3rem;
    }
    .description-main {
        font-size: 0.8rem;
    }
    .carousel {
        margin-top: 30px;
        margin-bottom: 60px;
    }
}

@media only screen and (max-width: 1366px) and (max-height: 1024px) and (orientation: landscape) {
    .swiper-slide-active .swiper-slide-description {
        visibility: inherit;
    }
    .swiper-slide-active .swiper-slide-title {
        visibility: hidden;
    }
    .carousel {
        margin-top: 30px;
        margin-bottom: 60px;
    }
}

@media only screen and (max-width: 1024px) and (max-height: 768px) and (orientation: landscape) {
    .carousel-header {
        font-size: 1.5rem;
    }
    .swiper-slide,
    .swiper-slide img {
        width: 270px !important;
    }
    .description-title,
    .swiper-slide-title {
        font-size: 1.3rem;
    }
    .description-main {
        font-size: 0.8rem;
    }
}