html {
    overflow-x: hidden;
}

body {
    min-height: 100vh;
    overflow-x: hidden;
}

.container-fluid {
    height: 100%;
    padding: 0;
}


.row {
    height: 100%;
}

.col {
    height: 100%;
}

.left-column {
    min-height: 80vh !important;
}

.right-column {
    padding-bottom: 60px;
    max-width: 100% !important;
}

.home-img {
    height: auto;
    max-height: 80vh;
    max-width: 90%;
    box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.5);
    margin-top: 50px;
    /* padding-top: 50px; */
}

.home-about {
    /* height: 100%; */
    background: rgba(0, 0, 0, 0.2);
    box-shadow: -8px 0px 5px 0px rgba(0, 0, 0, 0.5);
    min-height: 80vh;
}

.home-title {
    margin-top: 10vh;
    font-size: 3rem;
    text-align: center;
    text-shadow: 3px 2px 3px rgba(0, 0, 0, .2);
    font-weight: bold;
}

.home-main {
    padding: 0 70px;
    margin-top: 5vh;
}

.home-prompt {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0 70px;
    margin-top: 7vh;
    margin-bottom: 10vh;
}

.home-prompt a {
    font-size: 3rem;
    color: white;
}

.socials {
    margin-top: 20px;
    color: white;
}

.st-btn {
    margin-left: 50px !important;
}

.st-first {
    margin-left: 0 !important;
}

.home-footer {
    height: 22px;
    background: #343a40;
    color: white;
}

#copyright {
    float: left;
}

.footer-distributed {
    margin-top: 0 !important;
}

.social-links {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.social-links .fa {
    padding: 15px;
    font-size: 25px !important;
    /* font-weight: 900; */
    width: 60px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 15px;
    margin-right: 20px;
    text-align: center;
}

.social-links .fa:hover {
    opacity: 0.7;
}

.social-links .fa-facebook {
    background: #3B5998;
    color: white;
}

.social-links .fa-twitter {
    background: #55ACEE;
    color: white;
}

.social-links .fa-instagram {
    background: #125688;
    color: white;
}

.social-links .fa-youtube {
    background: #bb0000;
    color: white;
}

@media only screen and (max-width: 1024px) and (max-height: 1366px) and (orientation: portrait) {
    .left-column {
        height: 25% !important;
        flex: 0 1 45%;
    }
    .right-column {
        height: 75% !important;
    }
    .home-title {
        margin-top: 1vh;
    }
}

@media only screen and (max-width: 768px) and (max-height: 1024px) and (orientation: portrait) {}

@media only screen and (max-width: 500px) and (max-height: 850px) and (orientation: portrait) {
    body {
        padding-bottom: 200px;
    }
    .home-title {
        font-size: 2rem;
    }
    .home-main {
        padding: 0 5px;
        font-size: 0.9rem;
    }
    .home-prompt {
        padding: 0;
        margin-top: 3vh;
    }
    .home-prompt a {
        font-size: 2rem;
    }
    .home-footer {
        height: 50px
    }
    .left-column {
        min-height: 20vh !important;
        justify-content: center;
        flex: 0 1 100%;
    }
    .right-column {
        min-height: 50vh !important;
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 60px;
    }
    .social-links .fa {
        padding: 15px;
        font-size: 15px !important;
        /* font-weight: 900; */
        width: 50px;
    }
}

@media only screen and (max-width: 1366px) and (max-height: 768px) and (orientation: landscape) {
    .home-title {
        margin-top: 2vh;
    }
    .home-main {
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 1024px) and (max-height: 768px) and (orientation: landscape) {
    .home-title {
        font-size: 2.5rem;
    }
    .home-main {
        font-size: 1.2rem;
    }
    .home-prompt {
        padding: 0 5px;
    }
    .home-prompt a {
        font-size: 2.5rem;
    }
}

@media only screen and (max-width: 850px) and (max-height: 500px) and (orientation: landscape) {
    .home-title {
        font-size: 2rem;
    }
    .home-main {
        padding: 0 5px;
        font-size: 0.9rem;
    }
    .home-prompt {
        margin-top: 0;
    }
    .home-prompt a {
        font-size: 2rem;
    }
    .social-links .fa {
        padding: 15px;
        font-size: 15px !important;
        /* font-weight: 900; */
        width: 50px;
    }
}

@media only screen and (max-width: 600px) and (max-height: 350px) and (orientation: landscape) {
    .right-column {
        padding-bottom: 90px;
        padding-left: 30px;
        padding-right: 30px;
    }
}