.fade {
    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 4001;
    -moz-opacity: 0.8;
    opacity: .80;
    filter: alpha(opacity=80);
}

.LightBoxVideo {
    max-width: 50vw;
    max-height: 29vw;
}

.light {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -25vw;
    margin-top: -20vw;
    max-width: 50vw;
    max-height: 29vw;
    border: 2px solid #FFF;
    background: #FFF;
    z-index: 4002;
    overflow: visible;
}

.light-container {
    display: block;
    position: relative;
    width: 100%;
}

.boxclose {
    float: right;
    cursor: pointer;
    color: #fff;
    border: 1px solid #AEAEAE;
    border-radius: 3px;
    background: #222222;
    font-size: 31px;
    font-weight: bold;
    line-height: 0px;
    padding: 11px 3px;
    position: absolute;
    right: 2px;
    top: 2px;
    z-index: 1002;
    opacity: 0.9;
}

.boxclose:before {
    content: "×";
}

.fade:hover~.boxclose {
    display: none;
}

@media only screen and (max-width: 1024px) and (max-height: 1366px) and (orientation: portrait) {
    .light {
        margin-left: -35vw;
        margin-top: -40vw;
        max-width: 70vw;
        max-height: Calc(40vw + 5px);
    }

    .LightBoxVideo {
        max-width: 70vw;
    }
}

@media only screen and (max-width: 500px) and (max-height: 850px) and (orientation: portrait) {
    .light {
        margin-left: -49.5vw;
        margin-top: -40vw;
        max-width: 99vw;
        max-height: Calc(56vw + 5px);
    }

    .LightBoxVideo {
        max-width: 99vw;
    }
}

@media only screen and (max-width: 1366px) and (max-height: 1024px) and (orientation: landscape) {
    .light {
        margin-left: -30vw;
        margin-top: -25vw;
        max-width: 60vw;
        max-height: Calc(34vw + 10px);
    }

    .LightBoxVideo {
        max-width: 60vw;
        max-height: Calc(34vw + 10px);
    }
}

@media only screen and (max-width: 1024px) and (max-height: 768px) and (orientation: landscape) {
    .light {
        max-height: Calc(34vw + 8px);
    }

    .LightBoxVideo {
        max-height: Calc(34vw + 8px);
    }
}

@media only screen and (max-width: 850px) and (max-height: 500px) and (orientation: landscape) {
    .light {
        margin-left: -35vw;
        margin-top: -25vw;
        max-width: 70vw;
        max-height: Calc(40vw + 5px);
    }

    .LightBoxVideo {
        max-width: 70vw;
        max-height: Calc(40vw + 5px);
    }
}