.lightbox-carousel {
    margin-top: 0 !important;
    background: transparent;
    width: 100% !important
}

.lightbox-carousel .header-container {
    display: none;
}

.lightbox-carousel .swiper-container {
    max-height: 150px !important;
}

.lightbox-carousel .swiper-slide {
    width: 250px !important;
    height: 100%;
    margin-right: 15px !important;
}

.lightbox-carousel .swiper-slide img {
    width: 100% !important;
    height: 150px;
    object-fit: cover;
    filter: brightness(70%);
}

.lightbox-swiper-container {
    width: 100%;
    height: auto;
}

.lightbox-carousel .description-title,
.lightbox-carousel .swiper-slide-title {
    font-size: 1.3rem;
}

.lightbox-carousel .description-main {
    font-size: 0.7rem;
}

@media only screen and (max-width: 1024px) and (max-height: 1366px) and (orientation: portrait) {
    .lightbox-carousel .swiper-slide-description {
        display: none;
    }
}

@media only screen and (max-width: 500px) and (max-height: 850px) and (orientation: portrait) {
    .lightbox-carousel .swiper-slide,
    .lightbox-carousel .swiper-slide img {
        width: 220px !important;
    }
}

@media only screen and (max-width: 1366px) and (max-height: 1024px) and (orientation: landscape) {
    .lightbox-carousel .swiper-slide-description {
        display: none;
    }
}

@media only screen and (max-width: 1024px) and (max-height: 768px) and (orientation: landscape) {
    .lightbox-carousel .swiper-slide,
    .lightbox-carousel .swiper-slide img {
        width: 220px !important;
    }
}