.container {
    margin-bottom: 15vh;
}

.col-5 a {
    display: none;
}

#wrapper {
    display: flex;
    position: fixed;
    bottom: 0;
}

#logoParade {
    background: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    height: 11vh;
}

#logoParade div.scrollableArea a {
    display: block;
    float: left;
    min-height: 100vh;
    padding-left: 10px;
    height: 10vh;
}

#logoParade img {
    height: 11vh;
    width: auto;
}

.lightbox-carousel {
    width: 100%;
    margin-top: 0 !important;
    margin-bottom: 10px !important;
    margin-left: 15px;
}

.lightbox-carousel>* {
    z-index: 0!important;
}

.swiper-container {
    max-height: 200px !important;
}

.swiper-slide {
    height: 200px !important;
}


/* .swiper-slide img {
    height: 100% !important
} */

.swiper-slide-title {
    display: none;
}

.livestream-thumbnails-mobile {
    display: none;
}

.livestream-thumbnails-desktop {
    display: block;
}

.mistvideo {
    width: 100% !important;
    height: 60vh !important;
}

@media only screen and (max-width: 1024px) and (max-height: 1366px) and (orientation: portrait) {
    .container {
        max-width: 100%;
    }
    .row {
        flex-direction: column;
        align-items: center;
    }
    .livestream,
    .contact {
        max-width: 90vw !important;
        width: 90vw !important;
        padding-left: 0;
    }
    .contact {
        height: 30vh;
        padding-right: 0;
    }
    .livestream-thumbnails-mobile {
        display: block;
    }
    .livestream-thumbnails-desktop {
        display: none;
    }
    .lightbox-carousel {
        margin-left: 0;
    }
}

@media only screen and (max-width: 500px) and (max-height: 850px) and (orientation: portrait) {
    .livestream,
    .contact {
        max-width: 99vw !important;
        width: 99vw !important;
    }
    .contact {
        height: 42vh;
    }
}

@media only screen and (max-width: 500px) and (max-height: 760px) and (orientation: portrait) {
    .contact {
        height: 45vh;
    }
}

@media only screen and (min-width: 1200px) and (orientation: landscape) {
    .container {
        max-width: 1050px;
    }
}

@media only screen and (min-width: 1600px) and (orientation: landscape) {
    .container {
        max-width: 1440px;
    }
}

@media only screen and (max-width: 1366px) and (min-height: 900px) and (max-height: 1024px) and (orientation: landscape) {
    .container {
        max-width: 95%;
    }
}

@media only screen and (max-width: 850px) and (max-height: 500px) and (orientation: landscape) {
    .container {
        max-width: 88%;
    }
    .navbar {
        max-height: 40px;
    }
    .navbar-brand {
        font-size: 1rem !important;
    }
}

@media only screen and (max-width: 770px) and (max-height: 450px) and (orientation: landscape) {
    .container {
        max-width: 100%;
    }
}

@media only screen and (max-width: 650px) and (max-height: 380px) and (orientation: landscape) {
    .container {
        padding: 0;
    }
}