nav {
    z-index: 2001;
    padding: 0 1rem !important;
}

html {
    height: 100%;
}

body {
    position: relative;
    min-height: 100vh;
    padding-bottom: 140px;
}

.navbar-brand {
    max-width: 100px;
    max-height: 60px;
    padding: 2px !important;
}

.dropdown-menu {
    z-index: 3001;
}

.channel-header-container {
    display: inline-block;
    position: relative;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.channel-header-blur {
    width: 50%;
    height: 100%;
    display: inline-block;
    background: rgba(0, 0, 0, 0.5);
    filter: blur(7px);
    position: absolute;
    padding-left: 20px;
    border-radius: 30px;
    left: 0;
    right: 0;
    margin: auto;
}

.channel-header {
    filter: blur(0px);
    padding: 15px;
    text-shadow: -1px -1px 1px rgba(255, 255, 255, .1), 1px 1px 1px rgba(0, 0, 0, .5);
    font-size: 3rem;
}

.dropdown-item {
    cursor: pointer;
}

@media only screen and (max-width: 1024px) and (max-height: 1366px) and (orientation: portrait) {
    .channel-header-blur {
        width: 90%;
    }
}

@media only screen and (max-width: 500px) and (max-height: 850px) and (orientation: portrait) {
    .navbar {
        width: 100vw !important;
    }
    .navbar-brand {
        font-size: 2em !important;
    }
    .channel-header-blur {
        width: 100%;
    }
    .channel-header {
        font-size: 1.7rem;
    }
}

@media only screen and (max-width: 500px) and (max-height: 760px) and (orientation: portrait) {
    .channel-header {
        font-size: 2rem;
    }
}

@media only screen and (max-width: 1366px) and (max-height: 1024px) and (orientation: landscape) {
    .channel-header-blur {
        width: 60%;
    }
}

@media only screen and (max-width: 1024px) and (max-height: 768px) and (orientation: landscape) {
    .channel-header-blur {
        width: 70%;
    }
    .channel-header {
        font-size: 2rem;
    }
}

@media only screen and (max-width: 850px) and (max-height: 500px) and (orientation: landscape) {
    .channel-header-blur {
        width: 90%;
    }
}

@media only screen and (max-width: 400px) and (max-height: 700px) and (orientation: portrait) {
    body {
        padding-bottom: 250px;
    }
}