.ui-form {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 6000;
    display: none;
    padding-top: 5%;
    padding-bottom: 10%;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    overflow-x: hidden;
}

form {
    position: relative;
    background: #343a40;
    border: 5px solid white;
    color: white;
    padding: 30px;
    border-radius: 15px;
    display: none;
    font-family: 'Open Sans' !important;
}

.close {
    position: absolute;
    right: 30px;
    top: 15px;
    color: white;
    z-index: 4001;
}

.add-category-container,
.add-video-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 3rem;
    color: white;
    cursor: pointer;
    padding: 50px 0;
}

.add-category-container:hover,
.add-video-container:hover {
    /* background: #343a40; */
    opacity: 0.3;
}

.add-category {
    color: white;
    font-size: 150px !important;
}

.add-video-container .swiper-slide:before {
    font-weight: 0;
}

.add-video {
    font-size: 100px !important;
}

#font-picker,
#font-picker-nav {
    color: black;
}